*.bit

*.ng?
pass*.dat
_impact*
*.tw?
JTAG
JTAG_Loader_ROM_form.v
JTAG_Loader_ROM_form.vhd
XASM
_ngo/
_xmsgs/
dna-reader.ipf
*.cfi
*.mcs
*.prm
*.sig
*.coe
*.dec
*.fmt
*.hex
*.m
*.mem
*.v
dna_ctrl.vhd
*.gise
ise_*
iseconfig/
*.log
*.txt
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.unroutes
*.ut
*.xpi
*.xst
reading_dna_*
usage_statistics_webtalk.html
webtalk*
xlnx*
xst/
